<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/styles/restaurants.css"/>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    <main>
      <!-- rid 는 url에서 입력된 동적 경로 매개변수 -->
      <h1><%= restaurant.name %></h1>
      <P><%= restaurant.cuisine %> | <%= restaurant.address %></P>
      <p><%= restaurant.description %></p>
      <p><a href="<%= restaurant.website %>">View Website</a></p>
    </main>
  </body>
</html>
